.content-wrapper {
    position: relative;
    margin: auto;
    width: 1200px;
    height: 500px;
    background-color: lightblue;
    overflow: hidden;
}

.allBoat {
    position: absolute;
    width: 300px;
    height: 300px;
    animation: allMove 40s linear infinite forwards running;
}

@keyframes allMove {
    0% {
        transform: translateX(900px);
    }
    100% {
        transform: translateX(0);
    }
}

.boat {
    position: absolute;
    width: 300px;
    height: 80px;
    background: url("images/boat.png") no-repeat center center/300px auto;
    bottom: -140px;
    left: 0;
    z-index: 3;
    animation: boatMove 2s ease-out infinite normal forwards running;
}

@keyframes boatMove {
    0%, 95%, 100% {
        transform: translateY(0px);
    }
    50%, 80% {
        transform: translateY(5px);
    }
}

.sculler {
    position: absolute;
    width: 110px;
    height: 100px;
    background: url("images/sculler.png") no-repeat center center/110px auto;
    top: 290px;
    left: 90px;
    z-index: 2;
    animation: scullerMove 2s ease-out infinite normal forwards running;
}

@keyframes scullerMove {
    0%, 95%, 100% {
        transform: translateY(0) translateX(-20px) rotateZ(-10deg);
    }
    50%, 80% {
        transform: translateY(5px);
    }
}

.oar {
    position: absolute;
    width: 50px;
    height: 145px;
    background: url("images/oar.png") no-repeat center center/50px auto;
    top: 335px;
    left: 150px;
    z-index: 3;
    transform-origin: top;
    animation: oarMove 2s ease-out infinite normal forwards running;
}

@keyframes oarMove {
    0%, 95%, 100% {
        transform: translateY(0) rotateZ(-30deg);
    }
    50%, 80% {
        transform: translateY(5px);
    }
}

.sky {
    position: absolute;
    width: 1500px;
    height: 215px;
    background: url("images/sky.png") no-repeat center center/1200px auto;
    top: 20px;
    animation: skyMove 30s ease-out infinite alternate forwards running;
}

@keyframes skyMove {
    0% {
        transform: translateX(-100px);
    }
    100% {
        transform: translateX(-200px);
    }
}

.waves {
    position: absolute;
    width: 1400px;
    height: 100px;
    background-image: url("images/waves.png");
    background-size: 1300px;
    overflow: hidden;
    left: -30px;
    top: 400px;
    animation: wavesMove 3s linear infinite alternate forwards running;
}

@keyframes wavesMove {
    0% {
        transform: skew(30deg);
    }
}





